nest_asyncio==1.6.0
aiosqlite==0.22.0
python-telegram-bot==22.8
python-dotenv==1.2.2
deep-translator==1.11.4
cryptography==41.0.7
aiohttp==3.9.5
aiofiles==23.2.1
qrcode==8.2
Pillow==10.4.0
plotly==5.24.1
pyotp==2.10.0
bleach==6.1.0
gunicorn==22.0.0
